// ::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight > a:hover {
//   color: red;
//   background-color: transparent;
// }
:host ::ng-deep .p-panelmenu .p-panelmenu-header > a {
  //color: #c2c7d0;
  font-weight: 400;
  background-color: transparent;
  border: transparent;
}
:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  //color: #c2c7d0;
  background-color: transparent;
  border: transparent;
}
// :host ::ng-deep .p-panelmenu .p-panelmenu-header.p-highlight > a:hover {
//   color: #c2c7d0;
//   background-color: #007bff;
//   border: 1px solid rgb(212, 210, 210);
// }
