:host ::ng-deep .p-panelmenu .p-panelmenu-header > a {
  //color: #c2c7d0;
  font-weight: 400;
  background-color: transparent;
  border: transparent;
}

:host ::ng-deep .p-highlight .p-menuitem-text {
  z-index: 1;
  font-weight: 700;
}

// :host ::ng-deep .p-panelmenu .p-panelmenu-header a.p-menuitem-link-active {
//   outline: 0 none;
//   outline-offset: 0;
//   box-shadow: 0 0 0 0.2rem #a6d5fa;
// }

:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  //color: #c2c7d0;
  background-color: transparent;
  border: transparent;
}
