<div [@routerTransition] *ngIf="checkRouteUrl()">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "WordMaintenance" | localize }}</h1>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createWord()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="input-group">
            <div class="input-group-prepend">
              <button
                type="button"
                class="btn bg-blue"
                (click)="getDataPage(1)"
              >
                <i class="fas fa-search"></i>
              </button>
            </div>
            <input
              type="text"
              class="form-control"
              name="word"
              [placeholder]="'SearchWithThreeDot' | localize"
              [(ngModel)]="word"
              (keyup.enter)="getDataPage(1)"
            />
          </div>
        </div>
        <div>
          <ngx-datatable
            class="bootstrap"
            [rows]="words"
            [loadingIndicator]="loadingIndicator"
            [sortType]="SortType.single"
            [columns]="columns"
            [columnMode]="ColumnMode.force"
            [headerHeight]="40"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
            [reorderable]="reorderable"
            [externalPaging]="true"
            [externalSorting]="true"
            [scrollbarH]="true"
            [count]="totalItems"
            [offset]="pageNumber-1"
            [limit]="pageSize"
            (page)="getDataPage($event.offset+1)"
            (sort)="sortChange($event)"
          >
            <ngx-datatable-column name="{{'Word' | localize}}" sortable="true" prop="word">
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{'Frequency' | localize}}"
              sortable="true"
              prop="frequency"
            >
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{'PhoneticSymbol' | localize}}"
              sortable="false"
              prop="phoneticSymbol"
            >
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{'Definition' | localize}}"
              sortable="true"
              prop="definition"
              [width]="300"
            >
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{'CreatedDate' | localize}}"
              sortable="false"
              prop="formattedCreationTime"
            >
            </ngx-datatable-column>
            <ngx-datatable-column name="{{'Actions' | localize}}" sortable="false" [width]="170">
              <ng-template
                let-row="row"
                ngx-datatable-cell-template
              >
                <button
                  type="button"
                  class="btn btn-sm bg-secondary "
                  (click)="editWord(row.id)"
                >
                  <i class="fas fa-pencil-alt"></i>
                  {{ "Edit" | localize }}
                </button>
                <button
                  type="button"
                  class="btn btn-sm bg-danger mx-lg-2 mx-xs-0"
                  (click)="delete(row)"
                >
                  <i class="fas fa-trash"></i>
                  {{ "Delete" | localize }}
                </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>

