<div>
  <section>
    <h5>
      <span><b>This is a section with flex style</b></span>
    </h5>
  </section>
  <section class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">row1.column1</div>
        <div class="col-lg-3 col-6">row1.column2</div>
        <div class="col-lg-3 col-6">row1.column3</div>
        <div class="col-lg-3 col-6">row1.column4</div>
        <div class="w-100"></div>
        <div class="col-lg-3 col-6">row2.column1</div>
        <div class="col-lg-3 col-6">row2.column2</div>
        <div class="col-lg-3 col-6">row2.column3</div>
        <div class="col-lg-3 col-6">row2.column4</div>
      </div>
    </div>
  </section>
  <!-- <div class="container-sm">100% wide until small breakpoint</div>
  <div class="container-md">100% wide until medium breakpoint</div>
  <div class="container-lg">100% wide until large breakpoint</div>
  <div class="container-xl">100% wide until extra large breakpoint</div> -->
  <section class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-12">
          <h2>First article</h2>
          <p>
            Tacos actually microdosing, pour-over semiotics banjo chicharrones
            retro fanny pack portland everyday carry vinyl typewriter. Tacos
            PBR&B pork belly, everyday carry ennui pickled sriracha normcore
            hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
            trust fund twee, leggings salvia iPhone photo booth health goth
            gastropub hammock.
          </p>
        </div>

        <div class="col-lg-4 col-12">
          <h2>Second article</h2>
          <p>
            Tacos actually microdosing, pour-over semiotics banjo chicharrones
            retro fanny pack portland everyday carry vinyl typewriter. Tacos
            PBR&B pork belly, everyday carry ennui pickled sriracha normcore
            hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
            trust fund twee, leggings salvia iPhone photo booth health goth
            gastropub hammock.
          </p>
        </div>

        <div class="col-lg-4 col-12">
          <h2>Third article</h2>
          <p>
            Tacos actually microdosing, pour-over semiotics banjo chicharrones
            retro fanny pack portland everyday carry vinyl typewriter. Tacos
            PBR&B pork belly, everyday carry ennui pickled sriracha normcore
            hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
            trust fund twee, leggings salvia iPhone photo booth health goth
            gastropub hammock.
          </p>
          <!-- <p>
          Cray food truck brunch, XOXO +1 keffiyeh pickled chambray waistcoat
          ennui. Organic small batch paleo 8-bit. Intelligentsia umami wayfarers
          pickled, asymmetrical kombucha letterpress kitsch leggings cold-pressed
          squid chartreuse put a bird on it. Listicle pickled man bun cornhole
          heirloom art party.
        </p> -->
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-lg-4 col-12">
          <button type="button" class="btn btn-primary">Button</button>
        </div>
        <div class="col-xl-2 col-lg-4 col-12">
          <!-- <p-splitButton
            label="Save"
            icon="pi pi-plus"
            (onClick)="save('info')"
            [model]="items"
          ></p-splitButton> -->
        </div>
        <div class="col-xl-2 col-lg-4 col-12">
          <p-confirmDialog
            [style]="{ width: '50vw' }"
            [baseZIndex]="10000"
            rejectButtonStyleClass="p-button-text"
          ></p-confirmDialog>
          <p-button
            (click)="confirm1()"
            icon="pi pi-check"
            label="Confirm"
            styleClass="p-mr-2"
          ></p-button>
        </div>
        <div class="col-xl-2 col-lg-4 col-12">
          <!-- <label for="icon">DateTime</label> -->
          <!-- <p-calendar
            [(ngModel)]="date7"
            [showTime]="true"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar> -->
        </div>
        <div class="col-xl-3 col-lg-4 col-12">
          <div>
            <!-- <div style="border: 0; width: 250px">
              <p-dropdown
                [options]="cities"
                [(ngModel)]="selectedCity"
                optionLabel="name"
              ></p-dropdown>
              <label *ngIf="selectedCityName" style="margin-left: 20px"
                >selected {{ selectedCityName }}</label
              >
            </div> -->
            <p-dropdown
              [options]="countries"
              [(ngModel)]="selectedCountry"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Select a Country"
            >
              <ng-template pTemplate="selectedItem">
                <div
                  class="country-item country-item-value"
                  *ngIf="selectedCountry"
                >
                  <div>{{ selectedCountry.name }}</div>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="item">
                <div class="country-item">
                  <div>{{ country.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div class="col-xl-1 col-lg-4 col-12">
          <!-- <div class="p-field-checkbox" style="border: 0; width: 100px">
            <p-checkbox
              [(ngModel)]="checked"
              binary="true"
              inputId="binary"
            ></p-checkbox>
            <label for="binary">{{ checked }}</label>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="container-fluid">
      <p-panel header="Toolbar">
        <div class="p-text-italic">
          Toolbar is a grouping component for buttons and other content.
        </div>
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <div class="container-fluid" style="padding-left: 0rem">
              <p-button label="New" icon="pi pi-plus" class="p-mr-2"></p-button>
              <p-button
                label="Upload"
                icon="pi pi-upload"
                styleClass="p-button-success"
              ></p-button>

              <i
                class="p-toolbar-separator pi pi-bars p-mr-2"
                style="vertical-align: middle"
              ></i>

              <p-splitButton
                label="Save"
                icon="pi pi-check"
                [model]="items"
                styleClass="p-button-warning"
              ></p-splitButton>
            </div>
          </div>
          <div class="p-toolbar-group-right">
            <p-button icon="pi pi-search" class="p-mr-2"></p-button>
            <p-button
              icon="pi pi-calendar"
              styleClass="p-button-success p-mr-2"
            ></p-button>
            <p-button
              icon="pi pi-times"
              styleClass="p-button-danger"
            ></p-button>
          </div>
        </p-toolbar>
      </p-panel>
    </div>
  </section>
  <section class="container-fluid">
    <div class="container-fluid">
      <p-card
        header="Simple Card"
        [style]="{ width: '50rem', 'margin-bottom': '1em' }"
      >
        <div style="flex-direction: column; border: 0">
          <div style="border: 0">
            <label for="city1" style="margin-bottom: 0">Chicago</label>
            <p-radioButton
              name="city"
              value="Chicago"
              [(ngModel)]="city"
              inputId="city1"
              styleClass="p-mx-2"
              class="radioButton"
            ></p-radioButton>
            <label for="city2">Los Angeles</label>
            <p-radioButton
              name="city"
              value="Los Angeles"
              [(ngModel)]="city"
              inputId="city2"
              styleClass="p-mx-2"
              class="radioButton"
            ></p-radioButton>
          </div>
          <label *ngIf="city">{{ city }} selected</label>
        </div>
      </p-card>
    </div>
  </section>
  <section class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <h5 style="margin-left: 10px">TabView</h5>
        <p-tabView>
          <p-tabPanel header="Header I">
            <div class="card">
              <h5>Nested Splitter</h5>
              <p-splitter
                [style]="{ height: '150px' }"
                [panelSizes]="[20, 80]"
                [minSizes]="[10, 0]"
                styleClass="p-mb-5"
              >
                <ng-template pTemplate>
                  <div class="p-col p-d-flex p-ai-center p-jc-center"></div>
                </ng-template>
                <ng-template pTemplate>
                  <p-splitter layout="vertical" [panelSizes]="[15, 85]">
                    <ng-template pTemplate>
                      <div
                        style="flex-grow: 1"
                        class="p-d-flex p-ai-center p-jc-center"
                      >
                        Panel 2
                      </div>
                    </ng-template>
                    <ng-template pTemplate>
                      <p-splitter [panelSizes]="[20, 80]">
                        <ng-template pTemplate>
                          <div class="p-col p-d-flex p-ai-center p-jc-center">
                            Panel 3
                          </div>
                        </ng-template>
                        <ng-template pTemplate>
                          <div class="p-col p-d-flex p-ai-center p-jc-center">
                            Panel 4
                          </div>
                        </ng-template>
                      </p-splitter>
                    </ng-template>
                  </p-splitter>
                </ng-template>
              </p-splitter>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Header II">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci
              velit, sed quia non numquam eius modi.
            </p>
          </p-tabPanel>
          <p-tabPanel header="Header III">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti quos
              dolores et quas molestias excepturi sint occaecati cupiditate non
              provident, similique sunt in culpa qui officia deserunt mollitia
              animi, id est laborum et dolorum fuga. Et harum quidem rerum
              facilis est et expedita distinctio. Nam libero tempore, cum soluta
              nobis est eligendi optio cumque nihil impedit quo minus.
            </p>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </section>
  <section class="container-fluid">
    <div class="container-fluid">
      <carousel>
        <slide>
          <img
            src="assets/img/1.jpg"
            alt="first slide"
            style="display: block; width: 100%"
          />
        </slide>
        <slide>
          <img
            src="assets/img/2.jpg"
            alt="second slide"
            style="display: block; width: 100%"
          />
        </slide>
        <slide>
          <img
            src="assets/img/3.jpg"
            alt="third slide"
            style="display: block; width: 100%"
          />
        </slide>
      </carousel>
    </div>
  </section>
</div>
