:host ::ng-deep .xng-breadcrumb-item {
  label {
    margin-bottom: 0;
  }
}

:host ::ng-deep ol {
  li:nth-child(1) {
    a:nth-child(1) {
      margin-left: 1rem;
    }
  }
}

:host ::ng-deep ol {
  li:nth-child(1) {
    label:nth-child(1) {
      margin-left: 1rem;
    }
  }
}
